<link href="<%= static_path + "/bootstrap/css/footer.css" %>" type="text/css" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->

<script>
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>

<div class="footer">
 
<section class="index-link">   
<div class="container">
        <div class="row">
		    <div class="col-md-3">
                <div class="link-area">
                    <h3>ABOUT US</h3>
                    <P>Building Consensus among your Senior leaders to leverage your digital strengths and work on gaps which are hindering your growth.</P>
                    <li class="fa-li"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li class="fa-li"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li class="fa-li"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </div>
            </div>
            <div class="col-md-3">
                <div class="link-area">
                    <h3>PRODUCT</h3>
                    <ul>
                    <li><a href="pacakges">Pacakges</a></li>
                    <li><a href="logs">Trade Logs</a></li>
                    <li><a href="blog">Blog</a></li>
                    <li><a href="screener">Screener</a></li>
                    <li><a href="features">Features</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="link-area">
                    <h3>COMPANY</h3>
                    <ul>
						<li><a href="/">Home</a></li>
						<li><a href="about">About</a></li>
						<li><a href="faq">FAQ</a></li>
						<li><a href="contact">Contact</a></li>
						<li><a href="jobs"> Jobs</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="link-area">
                    <h3>Social</h3>
      
                </div>
            </div>
        </div>
</section>

<section class="index-social">  
    <div class="row index-social-link text-center">
            <p class="copy-c">&copy; Smayan Investments 2018</p>
    </div>        
</section>
</div>
</div>