<div class="row">
<div class="header">
	<ul class="nav nav-pills pull-right">
	  <li><a href="/">Home</a></li>
	  <li><a href="about">Trade Logs</a></li>
	  <li><a href="blog">Blog</a></li>
	  <li><a href="contact">Contact</a></li>
	  <li><a href="faq">FAQ</a></li>
	  <li><a href="login">Login</a></li>	  
	</ul>	
	<img src="public/img/logo.png" class="img-rounded" alt="Cinque Terre">	
</div>
</div>